<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(${keyword},null)"></div>
<body>
<div class="main-content common-page clearfix">
    <div class="categorys-item">
        <div class="common-title">
            <th:block th:text="${type}"/> : <th:block th:text="${keyword}"/>
        </div>
        <th:block th:if="${commons.is_empty(articles)}">
            <div>
                <p>抱歉，还没有相关文章！</p>
            </div>
        </th:block>
        <th:block th:unless="${commons.is_empty(articles)}">
            <div class="post-lists">
                <div class="post-lists-body">
                    <th:block th:each="article : ${articles.list}">
                        <div class="post-list-item">
                            <div class="post-list-item-container ">
                                <div class="item-label ">
                                    <div class="item-title">
                                        <a th:href="${commons.permalink(article)}" th:text="${article.title}"></a>
                                    </div>
                                    <div class="item-meta clearfix">
                                        <div th:class="'item-meta-ico '+${commons.show_icon(article.cid)} "
                                             th:style="'background: url('+@{/user/img/bg-ico.png}+') no-repeat;background-size: 40px auto;'"></div>
                                        <div class="item-meta-date">发布于 <th:block th:text="${commons.fmtdate(article.created)}"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>

    </div>
    <div class="post-lists">
        <div class="common-title">
            相关视频 : <th:block th:text="${keyword}"/>
        </div>
        <div id="mv_list" class="post-lists-body">
        </div>
    </div>
</div>
<script th:inline="javascript">
    function numberFormat(playCount) {
        var result;
        if (playCount > 999) {
            result = (Math.round((parseFloat(playCount) / 1000) * 10) / 10) + "K";
        }
        if (playCount > 9999) {
            result = (Math.round((parseFloat(playCount) / 10000) * 10) / 10) + "W";
        }
        return result + " 热度";
    }
    String.prototype.replaceAll = function (FindText, RepText) {
        regExp = new RegExp(FindText, "g");
        return this.replace(regExp, RepText);
    }
    function formatKeyWord(str) {
        return str.replaceAll('{','<font style="color:#F00;">').replaceAll('}','</font>');
    }
    function getInfo_Url(videoInfoId) {
        return 'http://' + window.location.host + ':8080/mvInfo/?videoInfoId=' + videoInfoId;
    }
    $(function () {
        $.ajax({
            url: '/mv/searchVideo/'+[[${keyword}]],
            type: 'POST',
            success: function(json) {
                if (json.success) {
                    $.each(json.data, function(idx, val){
                        $('#mv_list').append('<div class="post-list-item">\n' +
                            '                <div class="post-list-item-container">\n' +
                            '                    <div class="item-thumb bg-deepgrey" style="background-image:url('+val.coverUrl+');"></div>\n' +
                            '                    <a href="'+getInfo_Url(val.id)+'">\n' +
                            '                        <div class="item-desc">\n' +
                            '                            <p>'+val.staring+'</p>\n' +
                            '                        </div>\n' +
                            '                    </a>\n' +
                            '                    <div class="item-slant reverse-slant bg-deepgrey"></div>\n' +
                            '                    <div class="item-slant"></div>\n' +
                            '                    <div class="item-label">\n' +
                            '                        <div class="item-title"><a href="'+getInfo_Url(val.id)+'">'+formatKeyWord(val.title)+'</a>\n' +
                            '                        </div>\n' +
                            '                        <div class="item-meta clearfix">\n' +
                            '                            <div class="item-meta-ico bg-ico-code" style="background: url(/user/img/bg-ico.png);no-repeat;background-size: 40px auto;"></div>\n' +
                            '                            <div class="item-meta-cat">'+numberFormat(val.playCount)+'</div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '            </div>');
                    });
                } else {
                    alert(json.description);
                }
            }
        });
    });
</script>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>